<div class="reset-wrapper">
  <div class="reset-card">
    <h2>Changer votre mot de passe</h2>

    <div class="form-group">
      <label>Nouveau mot de passe</label>
      <input 
        type="password" 
        pInputText 
        [(ngModel)]="newPassword" 
        (input)="checkPasswordStrength()"
        placeholder="Entrez votre nouveau mot de passe" 
      />
    </div>

    <!-- Barre de force du mot de passe -->
    <div class="password-strength-container">
      <div class="password-strength-bar">
        <div 
          class="password-strength-fill" 
          [style.width.%]="passwordStrength * 20" 
          [style.background-color]="passwordColor">
        </div>
      </div>
      <div class="password-strength-text">
        Force du mot de passe: 
        <span [style.color]="passwordColor">
          {{ getPasswordStrengthText() }}
        </span>
      </div>
    </div>

    <div class="form-group">
      <label>Confirmer mot de passe</label>
      <input 
        type="password" 
        pInputText 
        [(ngModel)]="confirmPassword" 
        placeholder="Confirmez votre mot de passe" 
      />
    </div>

    <button pButton type="button" label="Enregistrer" (click)="submit()" class="btn-submit">Submit</button>
  </div>
  <p-toast></p-toast>
</div>