
<div class="notfound-wrapper">
  <p-card class="notfound-card">
    <!-- Logo MAE centré -->
    <div class="logo-container">
      <img src="assets/images/mae_logo.png" alt="MAE Logo" class="logo"/>
    </div>

    <!-- Code 404 -->
    <span class="error-code">404</span>

    <!-- Message -->
    <h1>Page Not Found</h1>
    <p>Oups! La ressource que vous recherchez n'est pas disponible.</p>

    <!-- Bouton revenir / logout -->
<p-button label="Revenir" class="logout-btn" (onClick)="logout()"></p-button>
  </p-card>
</div>
