

 <div class="landing-wrapper">
  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/images/mae_logo.png" alt="MAE Logo" />
  </div>

  <h1>Bienvenue sur votre espace </h1>
  <p>Choisissez une action pour gérer vos contrats :</p>

  <!-- Actions avec cartes -->
 
  <div class="actions-grid">
    <div class="action-card p-shadow-3" (click)="showBranchDialogForModify()">
      <i class="pi pi-pencil pi-3x"></i>
      <h3>Mettre à jour Contrat</h3>
      <p>Modifiez les informations de vos contrats existants.</p>
    </div>
    <div class="action-card p-shadow-3" (click)="goToCreateContrat()">
      <i class="pi pi-plus pi-3x"></i>
      <h3>Créer Contrat</h3>
      <p>Créez un nouveau contrat rapidement et facilement.</p>
    </div>
<div class="action-card p-shadow-3" (click)="showDownloadDialog()">      <i class="pi pi-download pi-3x"></i>
      <h3>Télécharger Contrat</h3>
      <p>Téléchargez vos contrats au format PDF.</p>
    </div>
    <div class="action-card p-shadow-3" (click)="goToListContrats()">
    <i class="pi pi-list pi-3x"></i>
    <h3>Liste des Contrats</h3>
    <p>Consultez la liste complète de vos contrats enregistrés.</p>
  </div>
  <div class="action-card p-shadow-3" (click)="goToAttestation()">
  <i class="pi pi-file-pdf pi-3x"></i>
  <h3>Générer Attestation</h3>
  <p>Créez et téléchargez une attestation.</p>
</div>

  </div>

<p-dialog  [(visible)]="displayModifyDialog" 
          [modal]="true" [closable]="true" [style]="{width: '400px'}" 
          class="modify-dialog">
  <form (ngSubmit)="onSubmitNumPolice()">
    <div class="field">
      <p>SVP, entrez le numéro de police que vous souhaitez modifier :</p>
      <input type="text" pInputText [(ngModel)]="numPoliceInput" name="numPolice" placeholder="Numéro de police" />
      <small class="error" *ngIf="errorMessage">{{ errorMessage }}</small>
    </div>

    <div class="flex justify-end mt-3">
      <button pButton type="button" label="Annuler" class="p-button-text" (click)="displayModifyDialog=false"></button>
      <button type="submit" pButton label="Valider" class="p-button-success ml-2"></button>
    </div>
  </form>
</p-dialog>

  <!-- Dialogue pour le téléchargement PDF -->
  <p-dialog [(visible)]="displayDownloadDialog" 
            header="Télécharger Contrat PDF"
            [modal]="true" [closable]="true" [style]="{width: '400px'}" 
            class="download-dialog">
    <form (ngSubmit)="onDownloadContrat()">
      <div class="field">
        <p>SVP, entrez le numéro de police du contrat à télécharger :</p>
        <input type="text" pInputText [(ngModel)]="downloadNumPoliceInput" 
               name="downloadNumPolice" placeholder="Numéro de police" required />
        <small class="error" *ngIf="downloadErrorMessage">{{ downloadErrorMessage }}</small>
      </div>

      <div class="flex justify-end mt-3">
        <button pButton type="button" label="Annuler" class="p-button-text" 
                (click)="displayDownloadDialog=false"></button>
        <button type="submit" pButton label="" 
                class="p-button-success ml-2" 
                [disabled]="isDownloading">
          <i class="pi pi-spin pi-spinner" *ngIf="isDownloading"></i>
          {{ isDownloading ? 'Téléchargement...' : 'Télécharger' }}
        </button>
      </div>
    </form>
  </p-dialog>
  <!-- Modale pour choisir la branche avant création de contrat -->
<p-dialog header="Choisir une branche" [(visible)]="displayBranchDialog" 
          [modal]="true" [closable]="true" [style]="{width: '400px'}">
  <div class="field">
    <label for="branche">Sélectionnez la branche :</label>
    <select [(ngModel)]="selectedBranch" name="selectedBranch">
      <option *ngFor="let b of getBranchesForDropdown()" [value]="b.value">
        {{ b.label }}
      </option>
    </select>
  </div>

  <div class="flex justify-end mt-3">
    <button pButton type="button" label="Annuler" class="p-button-text" (click)="displayBranchDialog=false"></button>
    <button pButton type="button" label="Valider" class="p-button-success ml-2" [disabled]="!selectedBranch" (click)="onBranchValidateAttestation()"></button>
  </div>
</p-dialog>
<p-dialog header="Choisir le code produit" [(visible)]="displayProductCodeDialog"
          [modal]="true" [closable]="true" [style]="{width: '400px'}">
  <div class="field">
    <label for="productCode">Sélectionnez le code produit :</label>
    <select [(ngModel)]="selectedProductCode" name="productCode">
      <option *ngFor="let p of productCodeOptions" [value]="p.value">
        {{ p.label }}
      </option>
    </select>
  </div>

  <div class="flex justify-end mt-3">
    <button pButton type="button" label="Annuler" class="p-button-text" (click)="displayProductCodeDialog=false"></button>
    <button pButton type="button" label="Valider" class="p-button-success ml-2"
            [disabled]="!selectedProductCode" (click)="goToCreateContratWithProductCode()"></button>
  </div>
</p-dialog>
<!-- Modale pour choisir la branche avant création de contrat -->
<p-dialog header="Choisir une branche" [(visible)]="displayBranchDialogCreate" 
          [modal]="true" [closable]="true" [style]="{width: '400px'}">
  <div class="field">
    <label for="branche">Sélectionnez la branche :</label>
    <select [(ngModel)]="selectedBranchCreate" name="selectedBranchCreate">
      <option *ngFor="let b of getBranchesForDropdown()" [value]="b.value">
        {{ b.label }}
      </option>
    </select>
  </div>

  <div class="flex justify-end mt-3">
    <button pButton type="button" label="Annuler" class="p-button-text" (click)="displayBranchDialogCreate=false"></button>
    <button pButton type="button" label="Valider" class="p-button-success ml-2"
            [disabled]="!selectedBranchCreate" (click)="goToSelectedBranchCreate()"></button>
  </div>
</p-dialog>

<!-- Modale pour choisir le code produit pour création -->
<p-dialog header="Choisir le code produit" [(visible)]="displayProductCodeDialogCreate"
          [modal]="true" [closable]="true" [style]="{width: '400px'}">
  <div class="field">
    <label for="productCode">Sélectionnez le code produit :</label>
    <select [(ngModel)]="selectedProductCodeCreate" name="productCodeCreate">
      <option *ngFor="let p of productCodeOptions" [value]="p.value">
        {{ p.label }}
      </option>
    </select>
  </div>

  <div class="flex justify-end mt-3">
    <button pButton type="button" label="Annuler" class="p-button-text" (click)="displayProductCodeDialogCreate=false"></button>
    <button pButton type="button" label="Valider" class="p-button-success ml-2"
            [disabled]="!selectedProductCodeCreate" (click)="goToCreateContratWithProductCode()"></button>
  </div>
</p-dialog>

<!-- Modale : choisir la branche avant modification -->
<p-dialog header="Choisir une branche" 
          [(visible)]="displayBranchDialogModify"
          [modal]="true" [closable]="true" [style]="{width: '400px'}">
  <div class="field">
    <label for="selectedBranchForModify">Sélectionnez la branche :</label>
    <select [(ngModel)]="selectedBranchForModify" name="selectedBranchForModify">
      <option *ngFor="let b of getBranchesForDropdown()" [value]="b.value">
        {{ b.label }}
      </option>
    </select>
  </div>

  <div class="flex justify-end mt-3">
    <button pButton type="button" label="Annuler" class="p-button-text"
            (click)="displayBranchDialogModify=false"></button>

    <button pButton type="button" label="Suivant" class="p-button-success ml-2"
            [disabled]="!selectedBranchForModify"
            (click)="openModifyDialogAfterBranch()"></button>
  </div>
</p-dialog>
<p-dialog header="Choisir le code produit" 
          [(visible)]="displayProductDialogModify"
          [modal]="true" [closable]="true" [style]="{width: '400px'}">
  <div class="field">
    <label for="productCode">Sélectionnez le code produit :</label>
    <select [(ngModel)]="selectedProductCode" name="productCode">
      <option *ngFor="let p of productCodeOptions" [value]="p.value">
        {{ p.label }}
      </option>
    </select>
  </div>

  <div class="flex justify-end mt-3">
    <button pButton type="button" label="Annuler" class="p-button-text" (click)="displayProductDialogModify=false"></button>
    <button pButton type="button" label="Valider" class="p-button-success ml-2"
            [disabled]="!selectedProductCode" (click)="onSubmitProductCodeModify()"></button>
  </div>
</p-dialog>


</div>