<div class="attestation-container">
  <h2>Générer Attestation Engins / Bris de Machines</h2>

  <form (ngSubmit)="onSubmit()" #attestationForm="ngForm">

    <!-- Informations générales -->
    <div class="section">
      <h3>Informations générales</h3>

      <div class="field">
        <label for="nomAssure">Nom de l’assuré / Société assurée</label>
        <input type="text" pInputText [(ngModel)]="attestation.nomAssure" name="nomAssure" required />
      </div>
      <div class="field">
        <label for="numadher">Numéro adhérent</label>
        <input type="text" pInputText [(ngModel)]="attestation.numadher" name="numadher" required />
      </div>

      <div class="field-dates">
        <div class="field">
          <label for="dateDebut">Date début</label>
          <input type="date" pInputText [(ngModel)]="attestation.dateDebut" name="dateDebut" required />
        </div>

        <div class="field">
          <label for="dateFin">Date fin</label>
          <input type="date" pInputText [(ngModel)]="attestation.dateFin" name="dateFin" required />
        </div>
      </div>



      <div class="field">
        <label>Code produit</label>
        <select [(ngModel)]="attestation.typeAssurance" name="typeAssurance" required>
          <option value="Engin de chantier">Engin de chantier</option>
          <option value="Bris de machines">Bris de machines</option>
          <option value="Tous Risques Informatiques">Tous Risques Informatiques</option>
          <option value="RC Decennale">RC Decennale</option>
          <option value="Tous Risques chantier">Tous Risques chantier</option>
          <option value="Tous Risques Electroniques">Tous Risques Electroniques</option>


        </select>
      </div>
                <!-- Adresse de l’assuré : TRI + RC Décennale -->
                <div
                  class="field"
                  *ngIf="
                    attestation.typeAssurance === 'Tous Risques Informatiques' ||
                    attestation.typeAssurance === 'RC Decennale' || 
                    attestation.typeAssurance === 'Tous Risques chantier'|| 
                    attestation.typeAssurance === 'Tous Risques Electroniques'
                  "
                >
                  <label for="adresseAssure">Adresse de l’assuré</label>
                  <input
                    type="text"
                    pInputText
                    [(ngModel)]="attestation.adresseAssure"
                    name="adresseAssure"
                  />
                </div>

                <!-- RC Décennale uniquement : Adresse du chantier -->
                <div *ngIf="attestation.typeAssurance === 'RC Decennale' || attestation.typeAssurance === 'Tous Risques chantier'">
                  <div class="field">
                    <label for="nattrav">Nature des travaux</label>
                    <input
                      type="text"
                      pInputText
                      [(ngModel)]="attestation.nattrav"
                      name="nattrav"
                    />
                  </div>
                </div>


      <div class="field">
        <label for="numPolice">Numéro de police</label>
        <input type="text" pInputText [(ngModel)]="attestation.numPolice" name="numPolice" required />
      </div>

      <div class="field">
        <label for="typeContrat">Type de contrat</label>
        <select [(ngModel)]="attestation.typeContrat" name="typeContrat" required>
          <option value="d'une année renouvelable par tacite reconduction">D'une année renouvelable par tacite reconduction</option>
          <option value="ferme">Ferme</option>
        </select>
      </div>
    </div>

    <!-- Bouton -->
   <div class="form-actions">
      <button pButton type="submit" label="Générer Attestation" class="p-button-success"></button>
    </div>

  </form>
</div>
